@import "../../styles/variable.module.scss";

.settingModalWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include display-center;
  /* From https://css.glass */
  background: rgba(237, 234, 234, 0.555);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99999999;

  .modal {
    max-width: 600px;
    width: 500px;

    // overflow-y: scroll;
    border: 1px solid $border-color;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .header {
      @include display-flex;
      align-items: center;
      justify-content: space-between;

      .close {
        cursor: pointer;
      }
    }

    .subContents {
      margin: 15px 0;

      p {
        color: $subtext-color;
        opacity: 0.8;
      }
    }

    .featuresWrapper {
      margin: 20px 0 15px 0;
      height: 200px;
      overflow-y: scroll;

      .feature {
        color: $primary-color;

        display: flex;
        justify-content: space-between;

        margin-bottom: 15px;

        .featureTitle {
          font-size: 15px;
        }
        .toggleWrapper {
          display: flex;
          //   flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
