@import "../../styles/variable.module.scss";

.settingModalWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include display-center;
  /* From https://css.glass */
  background: rgba(237, 234, 234, 0.555);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 99999999;

  .modal {
    max-width: 600px;
    width: 500px;

    // overflow-y: scroll;
    border: 1px solid $border-color;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .header {
      @include display-flex;
      align-items: center;
      justify-content: space-between;

      .close {
        cursor: pointer;
      }
    }

    .subContents {
      margin: 10px 0;

      p {
        color: $subtext-color;
        opacity: 0.8;
        font-size: 14px;
      }
    }

    .steps{
      li{
        font-size: 13px;
        margin-bottom: 8px;

        a{
          font-size: 13px;
        }
      }
    }

     .footer{
      margin-top: 10px;
      display: flex;
      gap: 10px;
      align-items: center;

      .input, button{
        padding: 6px 10px;
      }

      button{
        cursor: pointer;
      }
     }
  }
}
