@import "../../styles/variable.module.scss";

.selectWrapper {
  position: relative;
  min-width: 300px;
  .input {
    @include inputs;
  }

  .input:disabled {
    cursor: no-drop;
  }

  .suggestionBox {
    background-color: #fff;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999999;
    top: 46px;
    height: 150px;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid $border-color;

    .noLocation {
      width: 100%;
      height: 100%;
      @include display-center;
      flex-direction: column;
      h4 {
        color: $secondar-text;
        font-weight: 400;
      }
      .locationIcon {
        font-size: 30px;
        color: $secondar-text;
      }
    }
  }

  .smallLoader {
    position: absolute;
    right: 10px;
    top: 13px;
  }
}

.locationOption {
  @include display-flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  font-size: 14px;
}
