@import "../../styles/variable.module.scss";

.pieChart {
  margin-left: 15px;
}

.colorWrapper {
  margin-top: -220px;
  text-align: left;
  width: fit-content;
  cursor: pointer;

  div {
    position: relative;
    .color {
      font-size: 8px;
      margin-right: 10px;
      color: $headings-color;
      display: flex;
      align-items: center;

      span {
        display: inline-block;

        width: 13px;
        height: 13px;
        margin-right: 5px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .info {
      font-size: 10px;
      text-transform: capitalize;
      position: absolute;
      bottom: 0;
      font-weight: 600;
      width: 150px;
      left: -165px;
      background-color: #fff;
      
      padding: 3px 10px;
      border-radius: 30px;
      z-index: 99999;
    }
  }
}
