  @import "./styles/variable.module.scss";

  .appContainer{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: $border-radius;
    // display: grid;
     
    // grid-template-columns: 25% auto;
    // grid-template-rows: 100%;
    @include display-flex;
    gap: 10px;

    .sidebarContainer, .routesContainer{
        padding: .5rem;
    }
    .sidebarContainer{
        border-right: 1px solid $border-color;
        padding: 0;
        border-radius: $border-radius;
        background-color: #fff;
        width: 400px;
        max-width: 400px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
         
    }
  }