/*--For Subtext-*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");
/*--For Headings--*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

@import "maplibre-gl/dist/maplibre-gl.css";
@import "react-toggle/style.css";

:root {
  --body-bg: #f7f7f7;
  --subtext-fontFamily: "Inter", sans-serif;
  --heading-fontFamily: "Noto Sans", sans-serif;
  --heading-color: #282828;
  --primary-color: #0e72c9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-fontFamily);
  color: var(--heading-color);
}
p,
li,
button,
input,
a,
span,
label,
::placeholder {
  font-family: var(--subtext-fontFamily);
  font-size: 16px;
}

html {
  font-size: 85%;
}

.statsToggle.react-toggle--checked .react-toggle-track {
  background-color: var(--primary-color);
}

input {
  width: 100%;
}

.customMarker {
  width: 30px;
  height: 0;
  border-left: 25px solid transparent; /* Adjust this value to make the left side smaller */
  border-right: 25px solid transparent; /* Adjust this value to make the right side smaller */
  border-top: 40px solid #a42d0fbb; /* Adjust this value to make the cone shorter */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
}

.temp {
  font-size: 8px;
  position: absolute;
  color: white;
  bottom: 13px;
}
.maplibregl-popup-content,
.recharts-default-tooltip {
  border-radius: 10px !important;
  border: 1px solid #0000001f;
}

.maplibregl-popup-close-button {
  margin-right: 8px;
}

.aplibregl-ctrl-attrib-inner > a {
  font-size: 10px !important;
}