@import "../../styles/variable.module.scss";

.mapContainer {
  width: 100%;
  height: calc(88vh);
  overflow-y: scroll;
  border: 1px solid $border-color;
  position: relative;
  border-radius: 10px;

  .mapFooter {
    position: absolute;
    z-index: 99999;
    bottom: 25px;
    // left: 10px;
    padding-left: 20px;
    padding-right: 20px;

    @include display-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;

    .left {
      .mapbaseWrapper {
        width: 50px;
        height: 50px;
        padding: 5px;
        background-color: $white;
        @include display-center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $border-color;
        position: relative;

        .mapTypes {
          position: absolute;
          left: 53px;
          @include display-flex;

          & > div {
            width: 50px;
            height: 50px;
            padding: 5px;
            background-color: $white;
            @include display-center;
            border-radius: 5px;
            border: 1px solid $border-color;

            & > img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }

        .mapIcon {
          color: $primary-color;

          font-size: 25px;
        }
      }
    }

    .right {
      // margin-right: auto;
      @include display-flex;
      flex: 0.05;
      position: relative;

      .visulaizeWrapper {
        width: 50px;
        height: 50px;
        padding: 5px;
        background-color: $white;
        @include display-center;
        border: 1px solid $border-color;
        gap: 5px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 3px;
        position: relative;

        .mapIcon {
          font-size: 30px;
          color: $primary-color;
        }
      }

      .graphWrapper {
        min-width: 400px;
        max-width: 800px;
        height: 300px;
        overflow-x: scroll;
        border: 1px solid $border-color;
        border-radius: 10px;
        padding: 10px;
        bottom: 53px;
        right: 110px;
        position: absolute;

        background: rgba(255, 255, 255, 0.613);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.4px);
        -webkit-backdrop-filter: blur(8.4px);
        border: 1px solid $border-color;
      }
    }
  }
}
