@import "../../styles/variable.module.scss";

.mapContainer {
  width: 100%;
  height: calc(100vh - 125px);
  border: 1px solid $border-color;
  border: 1px solid $border-color;
  margin: 1.5rem 0 1rem 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: hidden;
  position: relative;
}
