@import "../../styles/variable.module.scss";

.pageContainer {
  padding: 0px 0 0px 0;
  padding: 10px;
  position: relative;

  .mapContainer {
    width: 100%;
    height: calc(88vh);
    overflow-y: scroll;
    border: 1px solid $border-color;
    position: relative;
    border-radius: 10px;
  }
}
