@import "../../styles/variable.module.scss";

.nav {
  @include display-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;
  height: 70px;
  gap: 20px;
  background-color: $white;

  .left {
    @include display-flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .NavLinks {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $border-color;
      border-radius: 10px;
    }

    .logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .optionWrapper {
      border: 1px solid $border-color;
      min-width: 250px;
      padding: 12px 15px;
      border-radius: 8px;
      position: relative;

      .selectedValue {
        cursor: pointer;
        @include display-flex;
        justify-content: space-between;
        align-items: center;

        label {
          cursor: pointer;
          font-size: 15px;
        }
        .placeholder {
          color: $secondar-text;
        }

        .active {
          color: $headings-color;
        }
      }

      .options {
        position: absolute;
        background-color: $white;
        padding: 10px 10px;
        border-radius: 8px;

        z-index: 99999;
        width: 100%;
        border: 1px solid $border-color;
        right: 0px;
        top: 44px;

        .navLinks {
          margin-bottom: 0.2rem;
          display: block;
          cursor: pointer;
          font-size: 1rem;
          text-decoration: none;
          color: $primary-color;
          font-weight: 400;
          padding: 8px 10px;
        }

        .activeNavlink {
          margin-bottom: 0.2rem;
          display: block;
          cursor: pointer;
          font-size: 1rem;
          text-decoration: none;
          color: $primary-color;
          font-weight: 600;

          padding: 8px 10px;
          border-radius: 10px;
          background-color: $primary-transparent;
        }
      }
    }
  }

  .right {
    .searchBar {
      @include display-flex;
      align-items: center;
      border: 1px solid $border-color;
      background-color: #fff;
      min-width: 300px;
      border-radius: 10px;

      position: relative;
      margin-right: 10px;
      .input {
        padding: 12px 10px;
        width: 90%;
        border: none;
        outline: none;
        border-radius: 10px;
      }
      .btnXCircle {
        font-size: 18px;
        cursor: pointer;
      }
      .searchSuggestion {
        background-color: #fff;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 99999;
        top: 46px;
        height: 150px;
        overflow-y: scroll;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid $border-color;

        .noLocation {
          width: 100%;
          height: 100%;
          @include display-center;
          flex-direction: column;
          h4 {
            color: $secondar-text;
            font-weight: 400;
          }
          .locationIcon {
            font-size: 30px;
            color: $secondar-text;
          }
        }
      }
    }
  }
}

.locationOption {
  @include display-flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  font-size: 14px;
}
